$bodyColor: white;
$menuColor: #1ec2ce;
$headerColor: white;
$borderColor: #607d8b;
$textColor: black;
$blocksColor: #f0efef;
$captionColor: red;
$h3color: #1ec2ce;
$asteriskColor : #1ec2ce;

$fontStack: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerPhoto: url(../img/header_background_v1.jpg);

